#search-bar {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.small-logo {
    height: 40px;
    margin-left: 20px;
}

.input-bar {
    margin-left: 20px;
    height: 20px;
    width: 1250px;
    letter-spacing: 0.8px;
    text-align: center;
}

.botton-search {
    width: 100px;
    height: 30px;
    background: rgb(58, 185, 248);
    border: 0px;
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;
}