.path-container {
    display: flex;
    margin: 10px 10px;
    align-items: center;
    border: 1.5px solid #ccc;
    height: 30px;
    width: 100%;
    position: relative;
  }
  
  .separator {
    margin: 0 2px;
  }

  .down {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
  